{% extends "layout-default.njk" %}

{% block content %}

{% for post in posts %}
    <h2 class="post-title">
        <a href={{"./" + post.slug + ".html"}}>
            {{ post.title }}
        </a>
    </h2>
    <div class="post-meta">
    <span class="post-meta-date">{{ post.created }}</span>
    </div>
{% endfor %}

{% endblock %} 

